import os
basedir = os.path.abspath(os.path.dirname(__file__))


class Config(object):
    DEBUG= False
    SECRET_KEY = "{{ app_secret_key }}"
    SQLALCHEMY_TRACK_MODIFICATIONS = False 
    SQLALCHEMY_DATABASE_URI = "postgresql+psycopg2://{{ database_user }}:{{ database_password }}@{{ database_host | default(groups['db'][0]) }}/cat_pics"
    SERVER = "{{ inventory_hostname }}"
    APPVERSION = "{{ app_version | default('master') }}"
