server {
 listen 80;
 server_name {{ hostvars[groups.loadbalancer[0]].openstack.public_v4 }}.xip.io www.{{ hostvars[groups.loadbalancer[0]].openstack.public_v4 }}.xip.io;

 location / {
  include proxy_params;
  proxy_pass http://backend:5000;
 }
}
